@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

body {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

#header{
    margin-top: 100px;
}

#header-tittle-text{
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    font-size: 54px;
}

.bg-dark {
    background-color: #a67f8e !important;
}

#header-tittle{
    position: relative;
    top: 30%;
}

#header-tittle-p {
    font-weight: bold;
    font-size: 24px;
}

.card {
    background: #fff;
    border-radius: 10px !important; 
    display: inline-block;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.text-center{
    text-align: center;
}

.cont-servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cont-btn-header{
    display: flex;
    justify-content: start;
}

.nav-link {
    color: #3d0814;
    font-weight: bold;
    font-size: 18px;
}

.nav-link:hover {
    color: grey;
    cursor: pointer;
}

#about {
    font-family: 'Signika', sans-serif;
    background-color: #a67f8e;
}

#cont-txt-center {
    position: relative;
    top: 30%;
}

#empresas {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.opacity {
    opacity: 0.7;
}

footer {
    background-color: #3d0814;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fab {
    color: white;
    font-size: 40px;
}

.cont-social-footer {
    position: relative;
    top:40%; 
}

@media only screen and (max-width: 768px) {
    #header-tittle{
        top: 0%;
    }

    .card {
        width: 100%;
    }

    #cont-txt-center {
        top: 0%;
    }
    
    .fab {
        font-size: 20px;
    }

    .cont-social-footer {
        top: 10%;
    }

    #txt-change {
        font-size: 24px;
    }
}